.product {
    width: 300px;
    border: 1px solid;
    background: #b5a292;
    margin: 10px 0 10px 0;
    text-align: center;
    padding: 20px;
}

.product img {
    border-radius: 5px;
}

.product h2 {
    color: black;
    font-size: unset;
}

.product p {
    width: 200px;
    overflow-wrap: break-word;
}

.read-more {
    color: #1635a9;
    font-size: 15px;
    white-space: nowrap;
}

.read-more:hover {
    color: #2a16a9;
    cursor: pointer;
}

.product button {
    background: #1635a9;
}

@media (max-width: 500px) {
    .product {
        width: 250px;
    }

    .product img {
        max-height: 150px;
        width: auto;
        max-width: 200px;
    }

    .product p {
        font-size: small;
    }
}

